$tablet-width: 768px;
$desktop-width: 1280px;
$mobile-width-only: 767px;

$text-color-main: #333333;
$text-ccolor-black: #000000;

$main-accent-color: #81b3d2;
$main-accent-color-medium: #669ec1;
$main-accent-color-darker: #5596be;
$main-accent-color-lighter: #9ac2db;

$light-background: #f2f2f2;
$medium-background: #eeeeee;

$border-color: #d6d6d6;